<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Recommendr</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/app.css" rel="stylesheet">
    <link href="../static/main.css" rel="stylesheet">
  </head>
  <body >
    <div id = "headerBar" style= "background-color: white">
      <div style="margin-left: 20px"><img src="../static/assets/img/logo.png" height="50"></div>
      <button class='btns'  id="home" > <a href="/newsFeedStuff"> <div style="color: black;"> Movies </div> </a> </button>
      {% if session.get('loggedinName') != None %}
        <button class='btns' id="signup"><a href="/signout"><div style="color: black;"> Sign Out </div> </a> </button>
      {% endif %}
      <button class='btns'  id="home" style="color: white;"> <a href="/index"> <div style="color: black;"> Home </div> </a> </button>
      {% if session.get('loggedinName') == None %}
        <button class='btns' id="login"><a href="/login"> <div style="color: black;"> Login </div>  </a> </button>
        <button class='btns' id="signup"><a href="/signup"> <div style="color: black;"> Sign Up  </div> </a> </button>
      {% endif %}
    </div>
    <div class = "main" style="color:black">
      <div class="containers" style="border: 20px black solid; width: 30%; margin-left: 35% ">
        <h2><center>Welcome back to Recommendr!</center></h2>
        <form style="color:black" action="" method="post" name="login"><center>
          {{ form.hidden_tag() }}
          <p style="font-size: 18px; margin-top: 50px">
            Username:
            {{ form.username(size=20) }}<br>
          </p>
          <p style="font-size: 18px">
            Password:
            {{ form.password(size=20) }}<br>
          </p>
          <p style="color:black; margin-top: 30px; text-size: 15px"><input type="submit" value="Log In"></p>
        </center></form>
      </div>
    </div>
  </body>
</html>