<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Recommendr</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/app.css" rel="stylesheet">
    <link href="../static/main.css" rel="stylesheet">
  </head>
  <body>
    <div class = "main">
      <div id = "headerBar"style="color: black;">
        <div id="logo">Recommendr</div>
        <button class='btns'  id="home" > <a href="/index"> <div style="color: black;">Home </div> </a> </button>
        <button class='btns'  id="home" > <a href="/newsFeedStuff"> <div style="color: black;">News Feed </div> </a> </button>
        {% if session.get('loggedinName') == None %}
          <button class='btns' id="login"><a href="/login"> <div style="color: black;"> Login </div></a> </button>
          <button class='btns' id="signup"><a href="/signup"> <div style="color: black;"> Sign Up </div> </a> </button>
        {% endif %}
        {% if session.get('loggedinName') != None %}
          <button class='btns' id="signout"><a href="/signout"> <div style="color: black;"> Sign Out </div></a> </button>
        {% endif %}
      </div>
      <h1 style="margin:20px"  style="color: black;"> <div  style="color: black;" > {{ mov["title"] }}  </div> </h1>
      <h4 style="margin:20px"  style="color: black;"> <div  style="color: black;" > {{ mov["genre"] }}  </div> </h4>
      <div class="containers">
        <img src={{mov["image"]}} alt="Test Image" />
      </div>
      <h1 style="margin:20px"  style="color: black;"> <div  style="color: black;" > Add Review </div> </h1>
      <div class="containers">
        <form action="" method="post" name="login" style="color: black;">
          {{ form.hidden_tag() }}
          <p hidden>
            Name:<br>
            {{ form.name(size=80, value = mov["title"]) }}<br>
          </p>
          <p>
            Rating: <br>
            <select name="rate">
              <option > 1 </option>
              <option > 2 </option>
              <option > 3 </option>
              <option > 4 </option>
              <option > 5 </option>
            </select>
          </p>
          <p style="color:black;"><input type="submit" value="Sign Up"></p>
        </form>

        <p style="color:black;"> {{ final }} </p>
        <form action="/watch">
          <input type="submit" value="Add to Watch List">
        </form>



      </div>
    </div>
  </body>